/*-default-*/
*{
    padding: 0%;
    margin: 0%;
}


/*-header-styles*/
.header{
   background-color: #37859F;
   width: 100%;
   padding: 10px;
}

.header img{
    width: 10%;
    border-radius: 50%;
}

.header p{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;  
    font-size: 16px;
}

/*-socialslink-styles*/
.social-links{
padding: 10px;
width: 100%;
background-color: #37859F;
}

.fa-regular,.fa-brands, .fa-solid {
    color:#DCEBF1;
    
}

/*-left-colum-styles*/
.container{
display: flex;
}


.left{
    width: 70%;
    padding: 10px;
}


.right{
    width:30%;
    padding: 10px;
}

.work-1,h1{
    border-bottom: 5px solid #ADC5CF;
    padding: 3px;
    width: 16%;
}

h2{
    font-size: 15px;
}

.FrontEnd-developer{
padding-top: 10px;
}

.FrontEnd-developer, p{
    margin-top: 3px;
    
}

.work-2,h1{
    padding:3px;
    margin-top: 10px;
}

/*-right-colum-styles*/
.study{
    padding: 3px;
}

h2{
    margin-top: 3px;
}

.skills{
margin-top: 5px;
}

h3{
    border-bottom: 5px solid #ADC5CF;
    width: 30%;
    color: #37859F;
    font-weight: bolder;
}

.skills, ul{
list-style-type: none;
padding-top: 3px;
}


/*-my-footer-styles*/
footer{
    background-color:  #37859F;
    width: 100%;
    height:auto;
    margin-top: 3px;
    padding-top: 4px;
    padding-left: 7px;
}


.footer-container{
display: flex;
}


.left-footer{
    width: 70%;
    padding: 10px;
}

.right-footer{
width: 30%;
padding: 10px;
}

.socials-icons{
    display: flex;
    align-items: center;
   

}